<div fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="end center">
        <button mat-icon-button mat-raised-button color="primary" (click)="openDialog($event);false;" title="Add new user" aria-label="Add user">
            <mat-icon>person_add</mat-icon>
        </button>
    </div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!-- ID Column -->
        <ng-container matColumnDef="individualID">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let element"> {{element.individualID}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Father Column -->
        <ng-container matColumnDef="fName">
            <th mat-header-cell *matHeaderCellDef> Father Name </th>
            <td mat-cell *matCellDef="let element"> {{element.fName}} </td>
        </ng-container>

        <!-- Gender Column -->
        <ng-container matColumnDef="gender">
            <th mat-header-cell *matHeaderCellDef> Gender </th>
            <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
        </ng-container>

        <!-- Marital Status Column -->
        <ng-container matColumnDef="maritalStatus">
            <th mat-header-cell *matHeaderCellDef> Marital Status </th>
            <td mat-cell *matCellDef="let element"> {{element.maritalStatus}} </td>
        </ng-container>

        <!-- Age Column -->
        <ng-container matColumnDef="age">
            <th mat-header-cell *matHeaderCellDef> Age </th>
            <td mat-cell *matCellDef="let element"> {{element.age}} </td>
        </ng-container>

        <!-- ID Type Column -->
        <ng-container matColumnDef="idType">
            <th mat-header-cell *matHeaderCellDef> ID Type </th>
            <td mat-cell *matCellDef="let element"> {{element.idType}} </td>
        </ng-container>

        <!-- ID No Column -->
        <ng-container matColumnDef="idNo">
            <th mat-header-cell *matHeaderCellDef> ID No </th>
            <td mat-cell *matCellDef="let element"> {{element.idNo}} </td>
        </ng-container>

        <!-- relationship Column -->
        <ng-container matColumnDef="relationship">
            <th mat-header-cell *matHeaderCellDef> Relationship </th>
            <td mat-cell *matCellDef="let element"> {{element.relationship}} </td>
        </ng-container>

        <!-- Contact Number Column -->
        <ng-container matColumnDef="contactNumber">
            <th mat-header-cell *matHeaderCellDef> Contact Number </th>
            <td mat-cell *matCellDef="let element"> {{element.contactNumber}} </td>
        </ng-container>

        <!-- Dari Name Column -->
        <ng-container matColumnDef="drName">
            <th mat-header-cell *matHeaderCellDef> نوم/اسم </th>
            <td mat-cell *matCellDef="let element"> {{element.drName}} </td>
        </ng-container>

        <!-- Dari Father Name Column -->
        <ng-container matColumnDef="drFName">
            <th mat-header-cell *matHeaderCellDef>ولد</th>
            <td mat-cell *matCellDef="let element"> {{element.drFName}} </td>
        </ng-container>

        <!-- Actio Column -->
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row" fxLayout="row" fxLayoutAlign="space-between start">
                <button mat-icon-button mat-mini-fab color="warn" (click)="deleteIndividual($event,row.individualID); false" title="Delete individual" aria-label="Diable individual">
                    <mat-icon>delete</mat-icon>
                </button>
                <button mat-icon-button mat-mini-fab color="primary" (click)="editIndividual($event,row.individualID); false" title="Edit individual" aria-label="Edit individual">
                <mat-icon>edit</mat-icon>
            </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef=" displayedColumns "></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns; "></tr>
    </table>
</div>